.container{
    position: relative;
}

.box{
    position: absolute;
    width: 100px;
    height: 100px;
}

.box:first-child{
    background-color: rgb(216, 112, 147);
}

.box:nth-child(2){
    background-color: rgb(111, 0, 255);
    top: 67px;
    left: 67px;
    z-index: 1;
}

.box:last-child{
    background-color: rgb(173, 255, 47);
    top: 137px;
    left: 137px;
}